# Step 1: Hello, Data

In [3]:
import pandas as pd

# Load primary dataset (first 500 rows)
df_primary = pd.read_csv("data/1000 Sales Records.csv").head(500)

# Load secondary metadata file
df_secondary = pd.read_csv("data/Asosmenfashion.csv")

# Display first 3 rows of primary dataset
df_primary.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62