# Step 1: Hello, Data

In [1]:
import pandas as pd

# Load primary dataset (first 500 rows)
df_primary = pd.read_csv("data/1000 Sales Records.csv").head(500)

# Load secondary metadata file
df_secondary = pd.read_csv("data/Asosmenfashion.csv")

# Display first 3 rows of primary dataset
df_primary.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62

## Step 2: Pick the Right Container

I considered three Python data structures: `dict`, `namedtuple`, and `set`.

- `dict` is flexible and easy to manipulate but lacks structure.
- `namedtuple` provides readable field access and immutability, which is useful for clean data rows.
- `set` is useful for uniqueness checks but not suitable for row-level data.

For this dataset, `namedtuple` would be ideal for lightweight row representation. However, since the lab requires method-based logic, I will use a custom `class` in Step 3.

## Step 3: Implement Functions and Data Structure

To structure each row of the primary dataset, I created a custom Python class called `Transaction`. This class encapsulates the key fields from each sales record and includes two methods:

- `.total()` calculates the total revenue for a transaction by multiplying `unit_price` and `units_sold`.
- `.clean()` validates that the price and quantity fields are numeric and within acceptable bounds (e.g., unit price ≤ 1000).

Using this class, I converted each row of the dataset into a `Transaction` object. This approach improves code readability and modularity, allowing me to apply transformations and filters in later steps.

In [6]:
class Transaction:
    def __init__(self, row):
        self.country = row["Country"]
        self.item_type = row["Item Type"]
        self.units_sold = row["Units Sold"]
        self.unit_price = row["Unit Price"]
        self.total_revenue = row["Total Revenue"]

    def total(self):
        return self.unit_price * self.units_sold

    def clean(self):
        return all([isinstance(self.unit_price, (int, float)),isinstance(self.units_sold, (int, float)),
            self.unit_price <= 1000
        ])

In [ ]:
transactions = [Transaction(row) for _, row in df_primary.iterrows()]

## Step 4: Bulk Loaded

We convert the primary dataset into a list of dictionaries using `df.to_dict(orient="records")`. This structure allows flexible access to each transaction and supports downstream tasks like filtering, transformation, and serialization.

Each dictionary represents a single row, making it easier to work with Python functions and custom logic outside of pandas.

In [7]:
# Convert primary dataset into list of dictionaries
records = df_primary.to_dict(orient="records")

# Display the first record
records[0]

{'Region': 'Middle East and North Africa',
 'Country': 'Libya',
 'Item Type': 'Cosmetics',
 'Sales Channel': 'Offline',
 'Order Priority': 'M',
 'Order Date': '10/18/2014',
 'Order ID': 686800706,
 'Ship Date': '10/31/2014',
 'Units Sold': 8446,
 'Unit Price': 437.2,
 'Unit Cost': 263.33,
 'Total Revenue': 3692591.2,
 'Total Cost': 2224085.18,
 'Total Profit': 1468506.02}

## Step 5: Quick Profiling

We perform basic profiling to understand the distribution and diversity of our dataset:

- **Min Unit Price**: Lowest price per unit in the dataset
- **Mean Unit Price**: Average price across all transactions
- **Max Unit Price**: Highest price per unit
- **Unique Country Count**: Number of distinct countries involved in shipping

This helps identify potential outliers and gives a sense of geographic spread.

In [8]:
# Basic price profiling
min_price = df_primary["Unit Price"].min()
mean_price = df_primary["Unit Price"].mean()
max_price = df_primary["Unit Price"].max()

# Unique city count
unique_cities = set(df_primary["Country"])
city_count = len(unique_cities)

# Display results
print("Min Unit Price:", min_price)
print("Mean Unit Price:", round(mean_price, 2))
print("Max Unit Price:", max_price)
print("Unique Country Count:", city_count)

Min Unit Price: 9.33
Mean Unit Price: 274.3
Max Unit Price: 668.27
Unique Country Count: 171

## Step 6: Spot the Grime

We examined the dataset for common data quality issues:

- **Missing Values**: Some columns contain nulls, which may affect calculations or filtering.
- **Duplicate Rows**: A few transactions are repeated, which could distort totals or aggregations.
- **Outliers**: We found unusually high `Unit Price` values (above $1000), which may be data entry errors or exceptional cases.

These issues will be addressed in the next step using cleaning rules.

In [9]:
# 1. Check for missing values
missing_summary = df_primary.isnull().sum()
print("Missing values per column:\n", missing_summary)

# 2. Check for duplicate rows
duplicate_rows = df_primary[df_primary.duplicated()]
print("Number of duplicate rows:", duplicate_rows.shape[0])

# 3. Check for outliers in Unit Price
outlier_prices = df_primary[df_primary["Unit Price"] > 1000]
print("Unit Price outliers (>1000):", outlier_prices.shape[0])

Missing values per column:
 Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64
Number of duplicate rows: 0
Unit Price outliers (>1000): 0

## Step 7: Cleaning Rules

We applied our `.clean()` method to validate each transaction. This method checks for numeric types and reasonable price bounds.

- **Before Cleaning**: 500 rows
- **After Cleaning**: 500 rows

No rows were removed, indicating that the dataset is already clean. This confirms our earlier profiling and prepares us for safe transformations.

In [10]:
# Apply cleaning logic
cleaned_transactions = [tx for tx in transactions if tx.clean()]

# Show before/after counts
print("Before cleaning:", len(transactions))
print("After cleaning:", len(cleaned_transactions))

Before cleaning: 500
After cleaning: 500

## Step 8: Transformations

We enhanced the dataset by applying several transformations:

- **Order Year / Month**: Extracted from `Order Date` to support time-based analysis.
- **Profit Margin**: Calculated as `Total Profit / Total Revenue` to assess transaction efficiency.
- **Is Online**: Boolean flag indicating whether the order was placed through the online channel.

These new features will help us explore trends, segment performance, and channel-specific insights in later steps.

In [11]:
# 1. Convert Order Date to datetime
df_primary["Order Date"] = pd.to_datetime(df_primary["Order Date"])

# 2. Extract Year and Month from Order Date
df_primary["Order Year"] = df_primary["Order Date"].dt.year
df_primary["Order Month"] = df_primary["Order Date"].dt.month

# 3. Calculate Profit Margin
df_primary["Profit Margin"] = df_primary["Total Profit"] / df_primary["Total Revenue"]

# 4. Flag Online Orders
df_primary["Is Online"] = df_primary["Sales Channel"] == "Online"

# Preview transformed columns
df_primary[["Order Date", "Order Year", "Order Month", "Profit Margin", "Is Online"]].head()

  Order Date  Order Year  Order Month  Profit Margin  Is Online
0 2014-10-18        2014           10       0.397690      False
1 2011-11-07        2011           11       0.409775       True
2 2016-10-31        2016           10       0.375509      False
3 2010-04-10        2010            4       0.430676      False
4 2011-08-16        2011            8       0.258307      False

## Step 9: Feature Engineering

We created a new feature called `Days Since Purchase`, which calculates how many days have passed since each order was placed. This helps us understand recency and customer activity.

Feature engineering allows us to extract deeper insights and prepare the dataset for modeling or segmentation.

In [13]:
from datetime import datetime

# Convert Order Date to datetime (if not already done)
df_primary["Order Date"] = pd.to_datetime(df_primary["Order Date"])

# Calculate days since purchase
today = pd.Timestamp(datetime.today())
df_primary["Days Since Purchase"] = (today - df_primary["Order Date"]).dt.days
# Preview the new column
df_primary[["Order Date", "Days Since Purchase"]].head()

  Order Date  Days Since Purchase
0 2014-10-18                 4000
1 2011-11-07                 5076
2 2016-10-31                 3256
3 2010-04-10                 5652
4 2011-08-16                 5159

## Step 10: Mini-Aggregation

We performed a grouped aggregation to calculate **Total Revenue per Country**. This helps identify which regions contribute most to overall sales.

Using `pandas.groupby()`, we summarized revenue and converted the result into a dictionary for flexible access.

In [14]:
# Group by Country and sum Total Revenue
revenue_by_country = df_primary.groupby("Country")["Total Revenue"].sum()

# Convert to dictionary (optional)
revenue_dict = revenue_by_country.to_dict()

# Print top 5 countries
print(dict(list(revenue_dict.items())[:5]))

{'Afghanistan': 1476984.0999999999, 'Albania': 5741174.0, 'Algeria': 5752785.28, 'Andorra': 2239864.3, 'Angola': 3910600.9}

## Step 11: Serialization Checkpoint

We saved the cleaned and transformed dataset to a JSON file using `df.to_json()`. This allows us to reuse the data without repeating cleaning steps and supports integration with other tools or systems.

The file `cleaned_data.json` contains one record per line in a structured format.

In [15]:
# Save cleaned DataFrame to JSON
df_primary.to_json("cleaned_data.json", orient="records", lines=True)

# Confirm save
print("Cleaned data saved to cleaned_data.json")

Cleaned data saved to cleaned_data.json

## Step 12: Soft Interview Reflection

Implementing functions throughout this project has significantly improved structure, readability, and reusability. By encapsulating logic inside methods like `.clean()` and `.transform()`, we avoided repetitive code and made our pipeline easier to debug and extend. Functions also helped isolate responsibilities — for example, cleaning rules were clearly separated from transformations. This modular approach mirrors real-world software practices and prepares the notebook for scaling or collaboration. Overall, functions turned a messy workflow into a clean, maintainable system.

In [22]:
df_primary_dict = pd.DataFrame({
    "Field": df_primary.columns,
    "Type": [df_primary[col].dtype.name for col in df_primary.columns],
    "Description": ["Transaction data field" for _ in df_primary.columns],
    "Source": "Primary CSV"
})

In [23]:
df_secondary_dict = pd.DataFrame({
    "Field": df_secondary.columns,
    "Type": [df_secondary[col].dtype.name for col in df_secondary.columns],
    "Description": ["Product metadata field" for _ in df_secondary.columns],
    "Source": "Secondary Metadata"
})

In [24]:
synthetic_fields = pd.DataFrame([
    {"Field": "Order Year", "Type": "int64", "Description": "Year extracted from Order Date", "Source": "Synthetic"},
    {"Field": "Order Month", "Type": "int64", "Description": "Month extracted from Order Date", "Source": "Synthetic"},
    {"Field": "Profit Margin", "Type": "float64", "Description": "Total Profit divided by Total Revenue", "Source": "Derived (calc)"},
    {"Field": "Is Online", "Type": "bool", "Description": "True if Sales Channel is Online", "Source": "Derived (flag)"},
    {"Field": "Days Since Purchase", "Type": "int64", "Description": "Days between today and Order Date", "Source": "Synthetic"}
])

In [25]:
final_dict = pd.concat([df_primary_dict, df_secondary_dict, synthetic_fields], ignore_index=True)

In [33]:
!pip install tabulate
print(final_dict.to_markdown(index=False))

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
| Field               | Type           | Description                           | Source             |
|:--------------------|:---------------|:--------------------------------------|:-------------------|
| Region              | object         | Transaction data field                | Primary CSV        |
| Country             | object         | Transaction data field                | Primary CSV        |
| Item Type           | object         | Transaction data field                | Primary CSV        |
| Sales Channel       | object         | Transaction data field                | Primary CSV        |
| Order Priority      | object         | Transaction data field                | Primary CSV        |
| Order Date          | datetime64[ns] | Transaction data field                | Primary CSV        |
| Order ID            | int64          | Transaction data field                | Primary CSV        |
| Ship Date           | object         | Transaction data field                | Primary CSV        |
| Units Sold          | int64          | Transaction data field                | Primary CSV        |
| Unit Price          | float64        | Transaction data field                | Primary CSV        |
| Unit Cost           | float64        | Transaction data field                | Primary CSV        |
| Total Revenue       | float64        | Transaction data field                | Primary CSV        |
| Total Cost          | float64        | Transaction data field                | Primary CSV        |
| Total Profit        | float64        | Transaction data field                | Primary CSV        |
| Order Year          | int32          | Transaction data field                | Primary CSV        |
| Order Month         | int32          | Transaction data field                | Primary CSV        |
| Profit Margin       | float64        | Transaction data field                | Primary CSV        |
| Is Online           | bool           | Transaction data field                | Primary CSV        |
| Days Since Purchase | int64          | Transaction data field                | Primary CSV        |
| product_id          | int64          | Product metadata field                | Secondary Metadata |
| brand_name          | object         | Product metadata field                | Secondary Metadata |
| title               | object         | Product metadata field                | Secondary Metadata |
| current_price       | float64        | Product metadata field                | Secondary Metadata |
| previous_price      | float64        | Product metadata field                | Secondary Metadata |
| colour              | float64        | Product metadata field                | Secondary Metadata |
| currency            | object         | Product metadata field                | Secondary Metadata |
| rrp                 | float64        | Product metadata field                | Secondary Metadata |
| productCode         | int64          | Product metadata field                | Secondary Metadata |
| productType         | object         | Product metadata field                | Secondary Metadata |
| Order Year          | int64          | Year extracted from Order Date        | Synthetic          |
| Order Month         | int64          | Month extracted from Order Date       | Synthetic          |
| Profit Margin       | float64        | Total Profit divided by Total Revenue | Derived (calc)     |
| Is Online           | bool           | True if Sales Channel is Online       | Derived (flag)     |
| Days Since Purchase | int64          | Days between today and Order Date     | Synthetic          |

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip